.nc-hud-shape-outer_frame_2_3_2 {
  clip-path: polygon(86.694% 75.410%, 89.919% 77.175%, 89.919% 87.011%, 86.694% 86.002%);
}

.nc-hud-shape-outer_frame_2_3_3 {
  clip-path: polygon();
}

.nc-hud-shape-outer_frame_2_3_4 {
  clip-path: polygon();
}

.nc-hud-shape-outer_frame_2_2 {
  clip-path: polygon(15.726% 2.522%, 34.677% 2.522%, 38.306% 4.540%, 85.081% 4.540%, 91.936% 8.575%, 92.742% 17.655%, 89.919% 19.420%, 89.516% 30.265%, 92.339% 33.039%, 92.742% 92.560%, 83.468% 98.613%, 60.887% 98.865%, 56.048% 96.091%, 37.903% 96.091%, 33.468% 98.613%, 15.323% 98.865%, 7.661% 94.830%, 8.064% 88.020%, 6.048% 86.255%, 6.048% 66.078%, 8.871% 63.808%, 9.274% 49.433%, 6.855% 47.415%, 6.855% 7.818%);
}

.nc-hud-shape-outer_frame_2_2_2 {
  clip-path: polygon(32.258% 5.801%, 35.887% 7.818%, 44.758% 8.071%, 46.774% 6.810%, 83.468% 7.062%, 88.306% 9.836%, 88.306% 15.889%, 83.468% 19.924%, 83.468% 92.308%, 79.032% 95.334%, 61.290% 95.839%, 57.661% 94.073%, 38.710% 93.821%, 34.677% 95.334%, 18.952% 95.586%, 14.113% 93.317%, 13.710% 48.424%, 11.290% 46.406%, 10.887% 9.332%, 16.936% 5.548%);
}